<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../abas-webui-styles/abas-color.html">

<dom-module id="abas-dropdown-menu-overlay">
  <template>
    <style>

      :host {
        opacity: 1;
        position: absolute;
        min-width: 250px;
        width: auto;
        max-width: var(--abas-dropdown-menu-dropdown-max-width, 250px);
        z-index: 1000;
        box-shadow: 0px 2px 2px var(--abas-outer-space);
      }

    </style>
    <slot></slot>
  </template>
  <script>

    /**
     * This element displays content as overlay
     * */
    class AbasDropdownMenuOverlay extends Polymer.mixinBehaviors([Polymer.IronOverlayBehavior], Polymer.Element) {
      static get is () {
        return 'abas-dropdown-menu-overlay';
      }

      static get properties () {
        return {
          isVisible: {
            type: Boolean,
            value: false
          },
          items: {
            type: Array
          }
        };
      }

      /**
       * Register the listeners to overlay events
       */
      connectedCallback () {
        super.connectedCallback();
        this.addEventListener('iron-overlay-opened', this._overlayOpenedListener.bind(this));
        this.addEventListener('iron-overlay-closed', this._overlayClosedListener.bind(this));
      }

      /**
       * Unregister the listeners to overlay events
       */
      disconnectedCallback () {
        super.disconnectedCallback();
        this.removeEventListener('iron-overlay-opened', this._overlayOpenedListener);
        this.removeEventListener('iron-overlay-closed', this._overlayClosedListener);
      }

      /**
       * Open the overlay, if it is closed.
       */
      toggleDisplay () {
        if (!this.isVisible) {
          this.open();
        } else {
          this.close();
        }
      }

      /**
       * Listener on iron-overlay-opened event
       * @private
       */
      _overlayOpenedListener () {
        this.set('isVisible', true);
        this.dispatchEvent(
          new CustomEvent('dropdownIsVisible', {
            dropdownIsVisible: true,
            bubbles: true,
            composed: true
          }));
      }

      /**
       * Listener on iron-overlay-closed event
       * @private
       */
      _overlayClosedListener () {
        this.set('isVisible', false);
        this.dispatchEvent(
          new CustomEvent('dropdownIsVisible', {
            dropdownIsVisible: false,
            bubbles: true,
            composed: true
          }));
      }
    }

    window.customElements.define(AbasDropdownMenuOverlay.is, AbasDropdownMenuOverlay);
  </script>
</dom-module>
