<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="abas-dropdown-menu-overlay.html">

<dom-module id="abas-dropdown-menu">
  <template>
    <style>

    </style>
    <div id="dropdown">
      <abas-dropdown-menu-overlay id="menuOverlay" items="[[items]]" position-target="[[overlayPositionTarget]]" vertical-align="top"
                                  vertical-offset="0"
                                  horizontal-align="left" horizontal-offset="0" scroll-action="[[scrollAction]]">
        <slot></slot>
      </abas-dropdown-menu-overlay>
    </div>
  </template>

  <script>
    /**
     * `abas-dropdown-menu`
     * Dropdown menu with icon and text button and a listbox with items with icon and text
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasDropdownMenu extends Polymer.Element {
      static get is () {
        return 'abas-dropdown-menu';
      }

      connectedCallback () {
        super.connectedCallback();
      }

      static get properties () {
        return {
          items: Array,
          scrollAction: {
            type: String,
            value: 'lock'
          }
        };
      }

      toggleDropdown () {
        this.$.menuOverlay.toggleDisplay();
      }
    }

    window.customElements.define(AbasDropdownMenu.is, AbasDropdownMenu);
  </script>
</dom-module>
